/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-skyblue: #81d4fa;
    --color-dark-skyblue: #0277bd;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-night: #183449;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 22px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size*/
    --size-border-radius:4px;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul{
    list-style: none;
    padding-right: 16px;
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}


/* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
    font-family: 'Jua', sans-serif;
}

/* Navbar */
#navbar{
    position:fixed;
    width: 100%;
    display: flex;
    justify-content:space-between;
    background-color: transparent;
    align-items: center;
    color: var(--color-white);
    padding: 16px;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

#navbar.navbar--dark{
    background:#18324a;
    padding: 8px;
}

.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu{
    display: flex;
    text-align: end;
}

.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 4px;
}

.navbar__menu__item:hover{
    border-color: whitesmoke;
    background-color: var(--color-dark-skyblue);
}

.navbar__toggle-btn{
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}


/* Home */
#home{
    background: url("photo/night.png") center/cover no-repeat;
    padding: 40px;
    padding-top: 120px;
    text-align: center;
}

.home__avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid ghostwhite;
}

.home__title,.home__description{
    color:whitesmoke;
}

.home__contact{
    color: var(--color-white);
    font-size: var(--font-regular);
    font-width: var(--weight-regular);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius)
}

/* Section common */

.section{
    padding:50px;
    text-align:center;
    margin:auto;
}

.section__container{
    max-width:1200px;
    margin:auto;
}
.speech-bubble {
    opacity: 0;
    position: relative;
    left:100px;
    top:30px;
    background: #b3e5fc;
    border-radius: .4em;
    width: 50%;
    height: 25px;
}

.jobs:hover >.speech-bubble,.portfolio:hover >.speech-bubble {
    opacity: 1;
    position: relative;
    left:100px;
    top:30px;
    background: #b3e5fc;
    border-radius: .4em;
    width: 50%;
    height: 25px;
    transition: all 0.4s ease-in;
}


.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top-color: #b3e5fc;
    border-bottom: 0;
    border-left: 0;
    margin-left: -30px;
    margin-bottom: -25px;
}

/* About */

.about__majors{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.about__jobs,.about__education,.about__language_certification,.about__project{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0;
}


.major__icon,.job__icon,.education__icon,.language__icon,.certification__icon,.project__icon{
    margin:auto;
    margin-bottom: 16px;
    width: 170px;
    height: 170px;
    font-size:70px;
    line-height: 170px;
    color: cornflowerblue;
    border-radius: 50%;
    border: 1px solid var(--color-blue);
}

.major__icon:hover,.job__icon:hover,.education__icon:hover,.language__icon:hover,.certification__icon:hover,.project__icon:hover{
    color: lightpink;
    transform: rotate(-30deg) scale(1.1);
    transition: all 300ms ease;
}

.major__title,.major__description,.job__title,.job__description,.education__title,.education__description,.project__description{
    color: var(--color-dark-grey);
}

.major__description{
    font-size: var(--font-small);
}




/* Skills */

#skills{
    background-color: #b3e5fc;
}

.skill__description{
    display:flex;
    justify-content: space-between;
}
.skill{
    margin-bottom:32px;
}
.skill__bar{
    width: 100%;
    height: 3px;
    background-color: gray;
}

.skill__value{
    width: 99%;
    height: 3px;
    background-color: lightpink;
}

.skillset{
    display:flex;
    background-color:#29434e;
}

.skillset_title{
    color: whitesmoke;
}
.skillset__left{
    padding: 20px;
    flex-basis:60%;
    background-color:#819ca9;
}
.skillset__right{
    flex-basis:40%;
    background-color:#546e7a;
}

.tools{
    background-color: darkgray;
}

.tools__list,.etc__list{
    font-size: 20px;
}

.tools,.etc{
    padding: 20px;
}

/* Work */

.category__btn{
    border: 1px solid darkgray;
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
}

.category__btn.selected,
.category__btn:hover{
    background-color:dodgerblue;
    color:whitesmoke;
}

/*.category__btn:active .category__count,*/
.category__btn:hover>.category__count,
.category__btn.selected>.category__count{
    opacity:1;
    top: 0;
}

.category__count{
    border: 1px solid #546e7a;
    border-radius: 50%;
    background-color: #ffa726;
    color: white;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: -20px;
    left: 4px;
    opacity:0;
    transition: all 0.5s;
}

.work__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transition: all 0.5s ease-out;
}

.work__projects.anim-out{
    opacity: 0;
    transform: scale(0.96) translateY(40px);
}

.project{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color:#e0f2f1;
}

.project.invisible{
    display: none;
}

.project__img{
    max-width: 100%;
    max-height: 70%;
}

.project__description{
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.project:hover .project__description{
    opacity: 0.95;
    transform: translateY(0px);
}

.project__description h3,.project__description span {
    color: white;
}

/* Scroll */
.arrow-up{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    font-size: 50px;
    color: white;
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s;
    background-color: #18324a;
    border-radius: 50%;
}

.arrow-up.visible{
    opacity: 1;
    pointer-events: auto;

}


/* For below 768px screen width */
@media screen and (max-width:768px) {
    .navbar__toggle-btn {
        display: block;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: #18324a;
    }

    #navbar.navbar--dark{
        padding: 16px;
    }
    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar__menu.open{
        display: block;
    }


    .skillset{
        flex-direction: column;
    }

    .project{
        flex-grow: 1;
    }

}